h1 {
  background-color: white;
  background-image: url(../img/p.jpg);
  background-repeat: repeat;
  background-position: right bottom;
  color: white;
  font-weight: inherit;
}
body {
  opacity: 0.9;
  background-color: silver;
  background-repeat: no-repeat;
}
h2 {
  color: white;
  background-color: white;
}
.zapatillas {
  border-style: solid;
}
